.userList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 480px) {
    .userList {
      flex-direction: column;
    }
  
    .userCard {
      width: 100%;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    .userList {
      flex-direction: column;
    }
  
    .userCard {
      width: 100%;
    }
  }
  
  @media (min-width: 769px) {
    .userList {
      flex-direction: row;
    }
  
    .userCard {
      width: 45%;
    }
  }
  